@charset "UTF-8";
body{
	position: fixed;
}

h2 {
	margin-top: 0px;
}

.list-form {
	display: flex;
}

.list {
	outline : solid 1px black;
}

.list p {
	margin: 0px;
	cursor: pointer;
}

.depart-list {
	position: relative;
	overflow-x:auto; 
	width:auto; 
	height:380px;
	font-size: 14px;
}

.depart-code {
	width: 60px;
}

#depart-enroll {
	position: absolute;
	outline : solid 1px black;
	width:200px; 
	height:200px;
	left: 0px;
	bottom: 0px;
}
.employee-list {
	display: hidden;
	overflow-x:auto; 
	width:100px; 
	height:380px;
	font-size: 14px;
	text-align: center;
}

summary {
	list-style: none;
    cursor: pointer;
}
label {
	display: block;
}

.search-form{
	display: flex;
	margin-left:200px;
	position: relative;
}
.search-form label {
	margin-right: 5px; 
}
#context-menu{
	border: 1px solid #c8c8c8;
	background-color: white;
	margin: 0px;
	z-index: 9999;
}
#context-menu ul li{
	padding-left: 14px;
	padding-right: 8px;
	cursor: default;
	font-size: 14px;
}
#context-menu ul li:hover{
	background-color: #dcdcdc;
}

table {
    border-bottom: 1px thin black;
    border-collapse: collapse; /*경계선 설정*/
    width: 100px;
}
th, td {
    border: 1px solid black;
    border-left: 0px;
    border-top: 0px;
    cursor: default;
}
tbody tr:hover{
	background-color: #dcdcdc;
}

.input-box {
	margin: auto;
}
input{
	display: block;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.choice-list {
	display: hidden;
	overflow-x:auto; 
	width:100px; 
	height:380px;
	font-size: 14px;
}