@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

.header-right {
	display: flex;
	align-items: center;
	width: 400px;
}

.header {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left svg {
	max-height: 40px;
	width: auto;
}

.header-middle {
	display: none;
}

@media ( min-width : 1200px) {
	.header-middle {
		display: block;
	}
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-nav {
	display: none;
/* 	padding-top: 38px; */
}

@media ( min-width : 1200px) {
	.header-nav {
		display: block;
	}
}

.header-link {
	color: #000;
	text-decoration: none;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	display: none;
	font-weight: 500;
	display: inline-block;
}

.header-link--button {
	background-color: #000;
	color: #fff;
	padding: 0.5rem 1.25rem;
}

.header-menu-button {
	margin-left: 0.75rem;
	border: 0;
	padding: 0;
	background-color: transparent;
	font: inherit;
	position: relative;
	padding-right: 30px;
	font-weight: 500;
}

.header-menu-button:after, .header-menu-button:before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: currentcolor;
	right: 0;
	top: 8px;
}

.header-menu-button:after {
	top: 16px;
	width: 12px;
	right: 8px;
}

.btn btn-outline-success my-2 my-sm-0 {
	background-color: #000;
	color: #fff;
	padding: 0.5rem 1.5rem;
}
.navbar navbar-expand-lg navbar-light bg-lig {
	width: 500px; 
	background-color: #f8f3eb;
}
.nav-link {
	width: 70px;
}