<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeList">
	<select id="selectDeptList" resultMap="deptResultMap">
		SELECT
			*
		FROM
			DEPARTMENT
	</select>
	<insert id="insertDept">
		insert into
			department
		values(
			#{depNo},
			#{depName}
		)
	</insert>
	<select id="selectDeptEmpList" resultMap="empResultMap">
		SELECT
			*
		FROM
			EMPLOYEE E
		    JOIN DEPARTMENT D ON E.EMP_DEPT = D.DEP_NO
		    JOIN JOBTITLE J ON E.EMP_JOB = J.JOB_NO
		WHERE
			EMP_DEPT = #{depNo}
	</select>
	<select id="selectSearchList" parameterType="hashMap" resultMap="empResultMap">
		SELECT
			*
		FROM
			EMPLOYEE E
		    JOIN DEPARTMENT D ON E.EMP_DEPT = D.DEP_NO
		    JOIN JOBTITLE J ON E.EMP_JOB = J.JOB_NO
		WHERE
			${getKeyword} LIKE #{getSearch}
	</select>
	<delete id="deleteDept">
		DELETE FROM
			DEPARTMENT
		WHERE
			DEP_NO = #{param}
	</delete>
	<update id="updateDept">
		UPDATE
			DEPARTMENT
		SET
			DEP_NO = #{modifyDept},
			DEP_NAME = #{dep.depName}
		WHERE
			DEP_NO = #{modifyDept}
	</update>
	<select id="selectJobList" resultMap="jobResultMap">
		SELECT
			*
		FROM
			JOBTITLE
		ORDER BY
			JOB_NO DESC
	</select>
	<select id="selectOneEmp" resultMap="empResultMap">
		SELECT
			*
		FROM
			EMPLOYEE E
		    JOIN DEPARTMENT D ON E.EMP_DEPT = D.DEP_NO
		    JOIN JOBTITLE J ON E.EMP_JOB = J.JOB_NO
		WHERE
			EMP_NO = #{param}
	</select>
	<resultMap type="employee" id="empResultMap">
		 <result column="EMP_NO" property="empNo" />
		 <result column="EMP_NAME" property="empName" />
		 <result column="EMP_PW" property="empPw" />
		 <result column="EMP_PHONE" property="empPhone" />
		 <result column="EMP_EMAIL" property="empEmail" />
		 <result column="EMP_ADDR" property="empAddr" />
		 <result column="EMP_BIRTH" property="empBirth" />
		 <result column="EMP_STATE" property="empState" />
		 <result column="EMP_HIREDATE" property="empHiredate" />
		 <result column="DEP_NAME" property="empDept" />
		 <result column="JOB_NAME" property="empJob" />
	</resultMap>
	<resultMap type="department" id="deptResultMap">
		 <result column="DEP_NO" property="depNo" />
		 <result column="DEP_NAME" property="depName" />
	</resultMap>
	<resultMap type="job" id="jobResultMap">
		 <result column="JOB_NO" property="jobNo" />
		 <result column="JOB_NAME" property="jobName" />
	</resultMap>
</mapper>