<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">

	<select id="chatRoomList" resultType="chatroom">
		select *
		from chatroom
		order by reg_date
	</select>
	
	<insert id="insertChatRoom">
		insert into chatroom 
		values (seq_chatroom_no.nextval, #{title}, #{empCreate}, current_date)
	</insert>
	
	<select id="selectedRoomChatList" resultType="chatmsg">
		select *
		from chatmsg
		where chatroom_no = #{chatroomNo}
		order by msg_no
	</select>
	
	<delete id="deleteChatRoom">
		delete from chatroom
		where chatroom_no  = #{chatroomNo}
	</delete>
	
	<insert id="insertChatMsg">
		insert into chatmsg
		values (seq_chatmsg_no.nextval, #{chatroomNo}, #{writerNo}, #{msg}, current_date)
		<!-- 발급받은 chatmsg pk msg_no값을 파라미터 board객체의 property no에 저장한다. msgNo는 세터 -->
		<selectKey keyProperty="msgNo" resultType="_int" order="AFTER">
			select seq_chatmsg_no.currval
			from dual
		</selectKey>
	
	</insert>
	
	<insert id="joinChatRoom">
		insert into chatroomjoin
		values (seq_chatroomjoin_no.nextval, #{empNo}, #{chatroomNo}, current_date)
			<selectKey keyColumn="jreg_date" keyProperty="regDate" resultType="date" order="AFTER">
				select reg_date
				from chatroomjoin
				where emp_no = #{empNo} and chatroom_no = #{chatroomNo}
			</selectKey>
	</insert>
	<delete id="disconnectChatRoom">
		delete from chatroomjoin
		where emp_no = #{empNo} and chatroom_no = #{chatroomNo}
	</delete>
	
	<select id="roomUserList" resultType="chatroomjoin">
		select * 
		from chatroomjoin
		where chatroom_no = #{chatroomNo}
	</select>
	
	<insert id="insertDirectMsg">
		insert into directmsg
		values (seq_directmsg_no.nextval, #{messageContent}, sysdate, #{messageSender}, #{messageReceiver}, current_date)
	</insert>
	
	<update id="updateChatRoom">
		update chatroom
		set title = #{title}
		where chatroom_no = #{chatroomNo}
	</update>
	
	<select id="selectDmList" parameterType="HashMap" resultType="directmsg">
		select * 
		from directmsg
		where message_sender = #{username} and message_receiver = #{recvname}
		or message_sender = #{recvname} and message_receiver = #{username}
		order by message_time
	</select>
	<update id="updateChat">
		update chatmsg
		set msg = #{msg}
		where msg_no = #{msgNo}
	</update>
	<delete id="deleteChat">
		delete from chatmsg
		where msg_no = #{msgNo}
	</delete>
	
	<update id="updateDm">
		update directmsg
		set message_Content = #{messageContent}
		where message_no = #{messageNo}
	</update>
	<delete id="deleteDm">
		delete from directmsg
		where message_no = #{messageNo}
	</delete>
	
	<select id="selectOneChatRoom" resultType="chatroom">
		select *
		from chatroom
		where chatroom_no = #{chatroomNo}
	</select>
	
	<select id="joinList" resultType="map">
		select j.chatroom_no, c.title 
		from chatroomjoin j 
			join chatroom c 
			on j.chatroom_no = c.chatroom_no
		where j.emp_no = #{empNo}
		order by j.reg_date
	</select>
</mapper>