<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="address">
	<insert id="insertAddr">
		insert into address
		values (seq_address_no.nextval, #{byEmp}, #{savedEmp})
	</insert>
	<select id="selectAddrList" resultType="addressExt">
		select a.*, e.emp_name
		from address a left join employee e
        on a.saved_emp = e.emp_no
		where by_emp = #{byEmp}
		order by addr_no
	</select>
	<delete id="deleteAddr">
		delete from address
		where addr_no = #{addrNo}
	</delete>
	
	<select id="selectOneAddr" resultType="addressExt">
		select a.addr_no, a.by_emp, a.saved_emp, e.emp_name
		from address a left join employee e
		on a.saved_emp = e.emp_no
		where by_emp = #{byEmp} and saved_emp = #{savedEmp}
	</select>
</mapper>