<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employee">
	<insert id="insertEmp">
		insert into
			employee
		values(
			seq_emp_no.nextval,
			#{empName},
			#{empPw},
			#{empPhone},
			#{empEmail},
			#{empAddr},
			#{empBirth},
			default,
			default,
			default,
			default
		)
	</insert>
	
	<select id="selectOneEmp" resultType="employee">
		select
			*
		from 
			employee
		where 
			emp_email = #{id}
	</select>
	
	<select id="selectId" resultType="string">
		select
			emp_email
		from
			employee
		where
			emp_name = #{empName}
			AND emp_phone = #{empPhone}
	</select>
	
	<select id="selectCheckId" resultType="string">
		select
			emp_no
		from
			employee
		where
			emp_email = #{id}
	</select>
	
	<insert id="insertPwSearch">
		insert into
			searchpwauth
		values(
			#{num},
			#{id},
			default
		)
	</insert>
	
	<select id="selectCheckPw" resultType="string">
		select
			id
		from
			searchpwauth
		where
			id = #{id}
	</select>
	
	<delete id="deleteSearchPw">
		delete from searchpwauth
		where id = #{id}
	</delete>
	
	<select id="selectPwSearchId" resultType="String">
		select
			id
		from
			searchpwauth
		where
			auth_num = #{authVal}
	</select>
	
	<update id="updatePw">
		update employee
		set emp_pw = #{pw}
		where emp_email = #{id}
	</update>
	
	<update id="updateEmp">
		update
			employee
		set
			emp_name = #{empName},
			emp_pw = #{empPw},
			emp_phone = #{empPhone},
			emp_addr = #{empAddr},
			emp_birth = #{empBirth},
			emp_dept = #{empDept},
			emp_job = #{empJob}
		where
			emp_no = #{empNo}
	</update>
</mapper>