<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
<insert id="insertNotice">
	insert into
		Notice(
			no,
			emp_no,
			link_addr,
			noti_type,
			checked,
			reg_date
		)
		values(
			seq_notice_no.nextval,
			#{empNo},
			#{linkAddr},
			#{notiType},
			default,
			default
		)
</insert>
<select id="selectNoticeList" resultMap="NoticeVoMap">
	select
		*
	from
		Notice
	where
		emp_no = #{empNo}
	order by
		reg_date desc
</select>
<resultMap type="Notice" id="NoticeVoMap">
	<result column="checked" property="checked" typeHandler="booleanYnTypeHandler"/>
</resultMap>


<delete id="deleteNotice">
	delete from
		Notice
	where
		no = #{no}
</delete>
<update id="updateNotice">
	update
		Notice
	set
		checked = 'Y'
	where
		no = #{no}
</update>
<select id="countNoticeList" resultType="_int">
	select
		count(*)
	from
		notice
	where
		emp_no = #{empNo}
</select>
<delete id="deleteNoticeList">
	delete from
		Notice
	<where>
		emp_no = #{empNo}
	<if test="checked != null">
		AND checked = 'Y'
	</if>
	</where>
		
</delete>

</mapper>