<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
<insert id="insertNotice">
	insert into
		Notice(
			no,
			emp_no,
			link_addr,
			noti_type
		)
		values(
			seq_notice_no.nextval,
			#{empNo},
			#{linkAddr},
			#{notiType}
		)
</insert>
<select id="selectNoticeList" resultType="Notice">
	select
		*
	from
		Notice
	where
		emp_no = #{empNo}
</select>


</mapper>