<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="schedule">
	<insert id="insertSchedule" parameterType="hashmap">
		insert into
			schedule
		values (
			seq_sch.nextval,
			#{empNo},
			#{schTitle},
			#{schContent},
			#{schStart},
			#{schEnd},
			#{schType},
			#{shareSch}
		)

		<selectKey keyProperty="schNo" resultType="_int" order="AFTER"> <!-- 지워도 될 듯 -->
			select
				 seq_sch.currval
			from 
				dual
		</selectKey>
	</insert>
	
	<select id="selectScheduleList" resultMap="schMap">
		select
			*
		from
			schedule
		where
			emp_no = #{empNo} OR shareSch = #{depName} OR shareSch ='ALL'
	</select>
	<resultMap type="schedule" id="schMap">
		<id column="sch_no" property="schNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="sch_title" property="schTitle"/>
		<result column="sch_content" property="schContent"/>
		<result column="sch_start" property="schStart"/>
		<result column="sch_end" property="schEnd"/>
		<result column="sch_type" property="schType"/>
		<result column="sharesch" property="shareSch"/>
	</resultMap>
	
	<select id="selectScheduleListIndex" resultMap="schMap">
	select
    	*
	from
    	schedule
	where
		(emp_no = #{empNo} OR shareSch = #{depName} OR shareSch ='ALL')
		AND
    	(sch_start like '%' || #{today} || '%'
    	OR
    	sch_start <![CDATA[<]]>= #{today} AND #{today} <![CDATA[<]]>= sch_end)
    order by
    	sch_start asc
	</select>
	
	<update id="updateSchedule">
		update
			schedule
		set
			emp_no = #{empNo},
			sch_title = #{title},
			sch_content = #{content},
			sch_start = #{start},
			sch_end = #{end},
			sch_type = #{type}
		where
			sch_no = #{no}
	</update>
	
	<update id="updateSchDate">
		update
			schedule
		set
			sch_start = #{start},
			sch_end = #{end}
		where
			sch_no = #{no}
	</update>
	
	<delete id="deleteSchedule">
		delete
		from 
			schedule
		where sch_no = #{schNo}
			
	</delete>

</mapper>