<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mail">

	<insert id="insertMail">
		insert into
			mail2
		values (
			seq_mail_test.nextval,
			1,
			<!-- 2, -->
			#{receiverAdd},
			#{mailTitle},
			#{mailContent},
			default,
			0,
			default,
			default
		)

		<selectKey keyProperty="mailNo" resultType="_int" order="AFTER">
			select
				 seq_mail_test.currval
			from 
				dual
		</selectKey>
	</insert>
	<insert id="insertAttachment">
		insert into
			mailAttach2(
				attach_no,
				mail_no,
				original_filename,
				renamed_filename
			)
		values(
			seq_mail_attach_test.nextval,
			#{mailNo},
			#{originalFilename},
			#{renamedFilename}
		)
	</insert>
	
	<select id="selectMailList1" resultMap="mailExtMap">
		select
			m.*,
			(select count (*) from mailAttach2 where mail_no = m.mail_no) attach_count
		from
			mail2 m
		where
			receiver_add like '%' || #{i} || '%' and receiver_del = 0
		order by
			mail_no desc
	</select>

	<select id="selectMailList2" resultMap="mailExtMap">
		select
			m.*,
			(select count (*) from mailAttach2 where mail_no = m.mail_no) attach_count
		from
			mail2 m
		where
			sender_add = #{i} and sender_del = 0
		order by
			mail_no desc
	</select>
	<resultMap type="mailExt" id="mailExtMap">
		<result column="attach_count" property="hasAttachment"/>
	</resultMap>
	
	<select id="selectAttachList" resultMap="attachVoMap">
		select
			*
		from
			mailAttach2
		where
			mail_no = #{mailNo}	
	</select>
	<resultMap type="mailAttach" id="attachVoMap">
		<result column="attachment_status" property="attachmentStatus" typeHandler="booleanYnTypeHandler"/>
	</resultMap>

	<select id="selectMailTotalContents1" resultType="_int">
		select
			count(*)
		from
			mail2
		where
			receiver_add like '%' || #{i} || '%' and receiver_del = 0
	</select>
	
	<select id="selectMailTotalContents2" resultType="_int">
		select
			count(*)
		from
			mail2
		where
			sender_add = #{i} and sender_del = 0
	</select>

	<select id="selectOneMailCollection" resultMap="mailCollectionMap">
		select
			m.*,
			a.attach_no,
			a.mail_no,
			a.original_filename,
			a.renamed_filename,
			a.attachment_status
		from
			mail2 m
			left join
				mailAttach2 a
					on m.mail_no = a.mail_no
		where m.mail_no = #{mail_no}
	</select>
	<resultMap type="mailExt" id="mailCollectionMap">
		<id column="mail_no" property="mailNo"/>
		<result column="sender_add" property="senderAdd"/>
		<result column="receiver_add" property="receiverAdd"/>
		<result column="mail_title" property="mailTitle"/>
		<result column="mail_content" property="mailContent"/>
		<result column="send_date" property="sendDate"/>
		<result column="read_chk" property="readChk"/>
		<result column="sender_del" property="senderDel"/>
		<result column="receiver_del" property="receiverDel"/>
		<collection property="attachList" ofType="mailAttach">
			<id column="attach_no" property="attachNo"/>
			<result column="mail_no" property="mailNo"/>
			<result column="original_filename" property="originalFilename"/>
			<result column="renamed_filename" property="renamedFilename"/>
			<result column="attachment_status" property="attachmentStatus" typeHandler="booleanYnTypeHandler"/>
		</collection>
	</resultMap>
	
	<select id="selectOneAttachment" resultMap="attachVoMap">
		select
			*
		from
			 mailAttach2
		where
			attach_no = #{no}
	</select>
	
	<select id="searchReceiverMail" parameterType="hashmap" resultType="mail">
		select 
			*
		from 
			mail2
		where
			(mail_title like '%' || #{searchTerm} || '%' OR mail_content like '%' || #{searchTerm} || '%' OR sender_add like '%' || #{searchTerm} || '%')
			and
			receiver_add like '%' || #{who} || '%'
	</select>

	<select id="searchSenderMail" resultType="mail">
		select 
			*
		from 
			mail2
		where
			(mail_title like '%' || #{searchTerm} || '%' OR mail_content like '%' || #{searchTerm} || '%' OR receiver_add like '%' || #{searchTerm} || '%')
 			and
			sender_add = #{who}
	</select>
	
	<select id="searchReceiver" resultMap="receiverMap">
		select
			e.emp_no, e.emp_name, j.job_name, d.dep_name
		from
			employee_mail_test e
		left join
			jobtitle_mail j
		on 
			e.emp_job = j.job_no
		left join
			dept_mail d
		on
			e.emp_dep =  d.dep_no
		where
			e.emp_no like '%' || #{searchReceiver} || '%' OR e.emp_name like '%' || #{searchReceiver} || '%' OR j.job_name like '%' || #{searchReceiver} || '%' OR d.dep_name like '%' || #{searchReceiver} || '%'
	</select>
	<resultMap type="mailReceiver" id="receiverMap">
		<id column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName"/>
		<result column="job_name" property="jobName"/>
		<result column="dep_name" property="depName"/>
	</resultMap>
	
	<delete id="deleteMail">
		delete
		from 
			mail2
		where mail_no = #{str}
	</delete>
	
	<update id="hideSendMail">
		update
			mail2
    	set
    		sender_del = 1
		where
			mail_no = #{str} and sender_del = 0 and receiver_del = 0
	</update>
	<update id="hideReceiveMail">
		update
			mail2
    	set
    		receiver_del = 1
		where
			mail_no = #{str} and receiver_del = 0 and sender_del = 0
	</update>

</mapper>