<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="document">
	<select id="selectDocList" resultType="document">
		select 
		    d.doc_no,
		    d.title,
		    d.writer,
		    d.content,
		    d.request_date,
		    d.end_date,
		    d.status
		from
		    document d left join docline dl
		        on d.doc_no = dl.doc_no
		where
		    approver = #{id}
		and approver_type = #{approverType}
	</select>
	
	<select id="selectOneDocument" resultMap="docMap">
		select *
		from document
		where doc_no = #{docNo}
	</select>
	
	<resultMap type="document" id="docMap">
		<result column="doc_no" property="docNo"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="content" property="content"/>
		<result column="request_date" property="requestDate"/>
		<result column="end_date" property="endDate"/>
		<result column="status" property="status"/>
		<collection property="docLine"
					javaType="arraylist" 
					ofType="docLine"
					column="doc_no"
					select="selectDocLineList" />
	</resultMap>
	<select id="selectDocLineList" resultType="docLine">
		select
			dl.*,
        	e.emp_name,
        	j.job_name
		from
		    docline dl left join employee e
		        on dl.approver = e.emp_no
		            left join jobtitle j
                on e.emp_job = j.job_no
		where
			doc_no = #{doc_no}
		order by
			lv
	</select>
	
	<update id="updateDocument">
		update
			docline
		set status = #{status}
		where
			doc_no = #{docNo}
		and
			approver=#{approver}
	</update>
</mapper>